---
interface Props {
    img: string;
    content: string;
    title: string;
}

const { content, title, img } = Astro.props;
---

<section class="border_color rounded-md">
    <div class="linea__arriba"></div>
    <div class="p-5">
        <img src={img} alt="Icono" />
        <p class="text-white my-5 text-2xl font-semibold">{title}</p>
        <p class="text-white">{content}</p>
    </div>
</section>

<style>
    .border_color {
        border-left: 1px solid var(--dropdown-border);
        border-right: 1px solid var(--dropdown-border);
        border-bottom: 1px solid var(--dropdown-border);;
    }
    .linea__arriba {
        width: 100%;
        height: 3px;
        border-radius: 1rem;
        background: rgb(2, 0, 36);
        background: linear-gradient(
            90deg,
            rgb(18, 10, 181) 0%,
            rgba(28, 0, 96, 1) 35%,
            rgba(211, 40, 104, 1) 100%
        );
    }
</style>
