---
import ExternalScript from "../ExternalScript.astro";
---

<head> 
    <!-- Fontawesome CDN link -->
    <link rel="stylesheet"
        href= 
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"> 

</head> 
<section> 
    <div class="accordion"> 
        <h2 class="mb-10">Preguntas Frecuentes
    </h2> 
        <div class="accordion-content"> 
            <header> 
                <span class="accordion-content-title"> 
                    ¿Qué es Hosting? 
                </span> 
                <i class="fa-solid fa-plus"></i> 
            </header> 
            <p class="accordion-content-description"> 
                Vamos a desglosarlo. Lo básico: quieres un sitio web. Tiene grandes ideas para el contenido, un tablero con la descripción completa de tu visión, el tono con el que se comunicará, e incluso una lista de las funciones adicionales que deseas para tu sitio web. Pero, ¿cómo publicas exactamente tu sitio en línea? Ahí es donde entra el alojamiento. Tu sitio web necesita un proveedor de alojamiento para tenerlo en la web y disponible públicamente para ser visitado. Los alojadores web son empresas que proporcionan el espacio de servidor necesario para almacenar tu sitio web. A medida que el tráfico web intenta acceder a tu sitio, los datos necesarios se transmiten desde el servidor al dispositivo de los visitantes. Sin embargo, los proveedores de alojamiento web difieren en la variedad de tipos de planes y opciones que ofrecen. Por lo tanto, tener un proveedor de alojamiento web de calidad es crucial. 
            </p> 
        </div> 
        <div class="accordion-content"> 
            <header> 
                <span class="accordion-content-title"> 
                    ¿Cuántos sitios puedo alojar?
                </span> 
                <i class="fa-solid fa-plus"></i> 
            </header> 
            <p class="accordion-content-description"> 
                ¿Estás comenzando? Con un Plan Deluxe, puedes alojar un sitio web ¡Un excelente lugar para comenzar! Si buscas administrar varios sitios, el plan Unlimited te permite alojar sitios web ilimitados. Cuál sea la flexibilidad que necesites, servistream la tiene. 
            </p> 
        </div> 
        <div class="accordion-content"> 
            <header> 
                <span class="accordion-content-title"> 
                    ¿El web hosting incluye correo electrónico? 
                </span> 
                <i class="fa-solid fa-plus"></i> 
            </header> 
            <p class="accordion-content-description"> 
                Sea que estés construyendo tu negocio o tu marca (o ambas), quieres empezar con el pie derecho. Un correo exclusivo relacionado con tu dominio puede brindarte un look profesional mientras trabajas para hacer crecer tu negocio. 
            </p> 
        </div> 
		<div class="accordion-content"> 
            <header> 
                <span class="accordion-content-title"> 
                    ¿Cuál es la diferencia entre el nombre de un dominio y el web hosting?
                </span> 
                <i class="fa-solid fa-plus"></i> 
            </header> 
            <p class="accordion-content-description"> 
                Un nombre de dominio es la dirección única .com (o cualquier otra extensión) donde se puede encontrar tu sitio en la web. Pero para que tu sitio web esté en línea, también necesitarás un proveedor de alojamiento web para proporcionar el espacio de servidor necesario de almacenamiento para tu sitio. Para un sitio completamente funcional, necesitas un nombre de dominio y un buen proveedor de alojamiento web. Para simplificar las cosas, puedes mantener tus necesidades internas, permitiendo que un proveedor suministre tanto el nombre de dominio y hosting web.
            </p> 
        </div> 
		<div class="accordion-content"> 
            <header> 
                <span class="accordion-content-title"> 
                    ¿Puedo actualizar a un plan más poderoso después?
                </span> 
                <i class="fa-solid fa-plus"></i> 
            </header> 
            <p class="accordion-content-description"> 
                ¡Claro que sí! Sabemos que tu objetivo final es probablemente hacer crecer tu sitio web con el tiempo. ¡Queremos eso para ti! Cuando el tráfico de tu sitio alcanza niveles de hora pico, se desborda de contenido, o simplemente necesita más tecnología y características de alta potencia, puedes actualizar a un plan con campanas, silbatos y potencia de rendimiento adicionales. Si bien el Plan Deluxe es una opción inteligente y económica cuando se es un principiante, un sitio rico en contenido y con mucho tráfico puede exigir un plan a mayor capacidad, lo que significa espacio de servidor adicional, recursos especialmente dedicados, seguridad avanzada y aceleración en velocidades.
            </p> 
        </div> 
		<div class="accordion-content"> 
            <header> 
                <span class="accordion-content-title"> 
                    ¿Incluyen certificados de seguridad SSL?
                </span> 
                <i class="fa-solid fa-plus"></i> 
            </header> 
            <p class="accordion-content-description"> 
                Nos preocupamos mucho por la seguridad - y también lo hacen los visitantes de tu sitio web. Con una cuenta de Plan Deluxe, obtienes un certificado SSL gratis para agregar a tu sitio. En estos días, tener un SSL para tu sitio es una buena práctica casi obvia. No solo un SSL ayuda a tus visitantes a sentirse seguros interactuando con tu sitio - también es particularmente importante si administras un sitio de comercio electrónico - y evitará penalizaciones de los motores de búsqueda, que te pueden afectar fácilmente si no tienes uno. Ningún sitio web quiere una etiqueta de "inseguro" o "insegura" que dañe su reputación. Si bien un certificado SSL no es una defensa infalible contra los chicos malos de Internet, es sin duda un gran primer paso en la dirección correcta para poner a los visitantes de tu sitio seguros.
            </p> 
        </div> 
		<div class="accordion-content"> 
            <header> 
                <span class="accordion-content-title"> 
                    ¿Qué pasa si tengo un dominio en otra empresa, lo puedo transferir?
                </span> 
                <i class="fa-solid fa-plus"></i> 
            </header> 
            <p class="accordion-content-description"> 
				¡Sí! Olvídate de empacar cajas virtuales o preocuparte por una dirección de reenvío: nos encargaremos de las tareas de transferencia y haremos que moverse a servistream sea F-Á-C-I-L. Al transferir tu registro de dominio de tu antiguo proveedor a servistream, puedes administrar fácilmente todos los aspectos de tu dominio desde una ubicación conveniente.</p> 
        </div> 
    </div> 
</section> 
</html>

<style>

.accordion{ 
    width: 100%; 
} 
.accordion .accordion-content{ 
    margin:10px 0; 
    border-radius: 5px; 
    background-color: #fff; 
    border-color: #bbffaa; 
    overflow: hidden; 
} 

.accordion-content.is-open{ 
    padding-bottom: 10px; 
} 
.accordion-content header{ 
    display:flex; 
    min-height: 50px; 
    padding: 0 15px; 
    cursor: pointer; 
    align-items: center; 
    justify-content: space-between; 
    transition:all 0.2s linear; 
} 
.accordion-content.is-open header{ 
    min-height: 35px; 
} 
.accordion-content-title{ 
    font-size: 1rem; 
    font-weight: 600; 
    color:#000000; 
} 
.accordion-content-description{ 
    height:0; 
    font-size: 15px; 
    color:#000000; 
    font-weight: 400; 
    padding: 0 15px; 
}

</style>

<ExternalScript/>

