---
interface Props {
    img: string;
    titulo: string;
    descrip: string;
}

const {
    img,
    titulo,
    descrip,
} = Astro.props;
---

<section>
    <img class="mb-4" src={img} alt="Imagen">
    <p class="font-bold text-xl mb-4 underline">{titulo}</p>
    <p>{descrip}</p>
</section>

