---
import Layout from "../layouts/Layout.astro";
import Top from "../components/Top.astro";
import Menu from "../components/Menu.astro";
import MobileMenu from "../components/MobilMenu.astro";
import FooterOscuro from "../components/FooterOscuro.astro";
import LogosScrollHosting from "../components/hosting_linux/LogosScrollHosting.astro";
import CardDescripCentovaUno from "../components/centovacast/CardDescripCentovaUno.astro";
import CardPreciosCentova from "../components/centovacast/CardPreciosCentova.astro";
import CardDescripCentovaDos from "../components/centovacast/CardDescripCentovaDos.astro";

---

<Layout title="Hosting Internet Services | Radio CentovaCast">

    <!-- INICIA CODIGO SECCION HEADER-->

    <main>
        <header class="css-selector">
            <Top />
            <div class="hidden lg:block">
                <Menu />
            </div>
            <div class="pt-4 lg:hidden"><MobileMenu /></div>

            <div
                class="contenedor mx-auto text-center flex flex-col justify-center items-center px-5 py-10"
            >
                <h1
                    class="text-white text-3xl font-light pb-5 tracking-tighter md:text-5xl lg:text-6xl"
                >
                    
                    <span class="text-is-gradient font-bold">Radio Streaming CentovaCast</span>
                </h1>
                <p class="text-white">
                    Hemos desarrollado una plataforma completa para que su
                    estación de radio este en internet todo el tiempo, <br />
                     ofreciendo una experiencia insuperable de reproducción de
                    audio para sus oyentes
                </p>

                <div class="flex flex-col items-center mt-10 md:flex-row">
                    <a
                        href="https://clientes.servistream.net/index.php?rp=/store/streaming-radio/stream-basico"
                        class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 mb-5 md:mb-0"
                    >
                        <span
                            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
                        >
                            Comprar Streaming Ahora
                        </span>
                    </a>
                    <a href="#ver_precios" class="text-sm font-medium text-white ml-5"
                        >Comparar Precios <i class="fa-solid fa-arrow-down-long"
                        ></i></a
                    >
                </div>

                <!-- INICIO CODIGO SECCION LOGOS CLIENTES SCROLL HOSTING-->

                <article class="py-10 hidden md:block">
                    <section class="contenedor mx-auto">
                        <LogosScrollHosting />
                    </section>
                    <p class="text-white bg-morado inline-block py-1 px-4 rounded-md mt-10 text-sm font-semibold">Grandes medios de comunicación ya confían en nosotros. Súmate a la experiencia de nuestro soporte
                    </p>
                </article>
            </div>
        </header>

                <!-- INICIO CODIGO SECCION SERVICIOS UNO-->

        <section class="contenedor mx-auto grid grid-cols-1 py-10 md:grid-cols-2 lg:grid-cols-3">
            <CardDescripCentovaUno src="/img/SolarMusicNote2Outline.svg" title="Calidad de Sonido" content="Transmisiones de hasta 320kbps. Codificación en mp3PRO y aacPlus para mayor calidad con la misma conectividad." />
            <CardDescripCentovaUno src="/img/SolarAlignBottomOutline.svg" title="Estadísticas" content="Información sobre la actividad de tus oyentes: ubicación geográfica, cantidad de oyentes, tiempo de escucha, y mucho más." />
            <CardDescripCentovaUno src="/img/SolarMusicLibraryOutline.svg" title="HTML5 & SSL" content="Varios modelos de reproductores con tecnología SSL activa. Máxima compatibilidad con navegadores y sistemas bajo firewalls." />
        </section>

         <!-- INICIO CODIGO SECCION PRECIO-->

         <div id="ver_precios" class="my-20 contenedor mx-auto px-5">
            <h2 class="text-white">
                En vivo en 3... 2... 1...
            </h2>
            <p class="text-white">Inicie su estación de radio en corto tiempo. Y puedes cancelar en cualquier momento.</p>
         </div>

        <section class="contenedor mx-auto flex items-center flex-wrap justify-center pb-20">

            <CardPreciosCentova plan="Centova 128" precio="$10" activacion="Descuento por suscripción anual" des1="260" des2="128 KBPS" des3="Ilimitado" link="https://clientes.servistream.net/index.php?rp=/store/streaming-radio-centovacast/plan-centova-128"/>
            <CardPreciosCentova plan="Centova 256" precio="$15" activacion="Descuento por suscripción anual" des1="400" des2="256 KBPS" des3="Ilimitado" link="https://clientes.servistream.net/index.php?rp=/store/streaming-radio-centovacast/plan-centova-256"/>
            <CardPreciosCentova plan="Centova 320" precio="$20" activacion="Descuento por suscripción anual" des1="999" des2="320 KBPS" des3="Ilimitado" link="https://clientes.servistream.net/index.php?rp=/store/streaming-radio-centovacast/plan-centova-320"/>
            <CardPreciosCentova plan="Centova Ilimitado" precio="$25" activacion="Descuento por suscripción anual" des1="Ilimitado" des2="320 KBPS" des3="Ilimitado" link="https://clientes.servistream.net/index.php?rp=/store/streaming-radio-centovacast/plan-centova-ilimitado"/>

        </section>


         <!-- INICIO CODIGO SECCION PLAYER RADIO-->


        <div class="player-radio">
            <iframe src="https://playerhd.eu/radio/electrofactoryradio/" frameborder="0" allowtransparency="true" style="width: 100%; min-height: 540px; border: 0;"></iframe>
        </div>


        <!-- INICIO CODIGO SECCION DESCRIPCION DOS-->

        <section class="grid grid-cols-1 contenedor mx-auto py-20 gap-3 md:grid-cols-2 lg:grid-cols-4">
            <CardDescripCentovaDos title="Reproductores" content="Nuestra empresa cuenta con más de 20 reproductores gratuitos para nuestros clientes, entregamos códigos HTML listos para su sitio" />
            <CardDescripCentovaDos title="Delay Mínimo" content="Servidores estratégicamente posicionados, configurados y optimizados para obtener el menor retardo de su señal de radio" />
            <CardDescripCentovaDos title="Beneficios" content="Todos nuestros planes cuentan con tecnología AACPlus y MP3 que permiten transmitir a baja calidad y con un excelente sonido" />
            <CardDescripCentovaDos title="AutoDJ" content="Los planes Streaming de Audio que incluyen espacio Autodj permiten reproducir archivos musicales directamente desde el servidor" />
            <CardDescripCentovaDos title="99.9% de actividad" content="Experimente una transmisión confiable con servidores colocados en varios lugares de Estados Unidos y Europa" />
            <CardDescripCentovaDos title="Soporte SSL" content="Nuestro servidor proporciona una URL de enlace de transmisión segura que puede usar en cualquier aplicación que requiera HTTPS" />
            <CardDescripCentovaDos title="Panel de Control" content="Utiliza el panel de control Centovacast v3 para una administración fácil de usar de su servidor" />
            <CardDescripCentovaDos title="Compatibilidad" content="Puede ofrecer a sus oyentes varios soportes de reproductores multimedia para Winamp, Real, Windows Player" />

        </section>

            <!-- INICIO CODIGO SECCION FOOTER-->
    <FooterOscuro />


    </main>


</Layout>

<style lang="scss">
    .text-is-gradient {
        background-image: linear-gradient(
            to right,
            var(--gradient-text) 11%,
            var(--gradient-color-2)
        );
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    main {
        background-color: #0e141b;
    }

    .contenedor__lgo__server {
        max-width: 900px;
    }

    .contenedor__hosting__preguntas {
        max-width: 1000px;
    }

    /*
    CSS SECCION PLANES HOSTING
    */
</style>
