---
import Layout from "../layouts/Layout.astro";
import Top from "../components/Top.astro";
import Menu from "../components/Menu.astro";
import MobileMenu from "../components/MobilMenu.astro";
import SubmenuHostingReseller from "../components/hosting_reseller/SubmenuHostingReseller.astro";
import Footer from "../components/Footer.astro";
import CardPlanesHostingReseller from "../components/hosting_reseller/cardPlanesHostingReseller.astro";
import DescripcionHosting from "../components/hosting_linux/cardDescrip.astro";

import BotonDos from "../components/BotonDos.astro";
import Acordion from "../components/hosting_reseller/Acordion.astro";

---

<Layout title="Hosting Internet Services | Hosting Reseller">


    <!-- INICIA CODIGO SECCION HEADER-->

    <header class="h-screen css-selector">
        <Top />
        <div class="hidden lg:block">
            <Menu />
        </div>
        <div class="pt-4 lg:hidden"><MobileMenu /></div>

        <div
            class="contenedor mx-auto text-center flex flex-col justify-center items-center px-5 h-[70%]"
        >
            <p
                class="text-white border-[.1px] border__cuadro rounded-full text-sm px-4 py-2 mb-10"
            >
                Trabajamos desde cero para crear una plataforma de alojamiento
                ultrarrápida.
            </p>

            <h1 class="text-white text-4xl font-bold pb-5 md:text-6xl">
                cPanel Reseller Hosting
            </h1>
            <p class="text-white text-1xl md:text-2xl">
                Dirija su propio negocio de hosting con la última plataforma <br
                /> de hosting para revendedores ilimitados cPanel/WHM.
            </p>

            <a
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg mr-2 inline-block my-10"
                href="/hosting-cloud"
            >
                Inicia una prueba desde $10.00
            </a>
        </div>

        <div
            class="contenedor__lgo__server mx-auto grid grid-cols-2 gap-5 px-5 place-content-center  md:grid-cols-3 lg:grid-cols-5"
        >
            <div class="flex">
                <img
                    src="/img/CircleFlagsUs.svg"
                    class="mr-2"
                    width="20"
                    height="20"
                    alt="Icon"
                />
                <p class="text-white font-bold">Costa Este</p>
            </div>
            <div class="flex">
                <img
                    src="/img/CircleFlagsUs.svg"
                    class="mr-2"
                    width="20"
                    height="20"
                    alt="Icon"
                />
                <p class="text-white font-bold">Costa Oeste</p>
            </div>
            <div class="flex">
                <img
                    src="/img/uk.svg"
                    class="mr-2"
                    width="20"
                    height="20"
                    alt="Icon"
                />
                <p class="text-white font-bold">Reino Unido</p>
            </div>
            <div class="flex">
                <img
                    src="/img/europe.svg"
                    class="mr-2"
                    width="20"
                    height="20"
                    alt="Icon"
                />
                <p class="text-white font-bold">Europa</p>
            </div>
            <div class="flex">
                <img
                    src="/img/australia.svg"
                    class="mr-2"
                    width="20"
                    height="20"
                    alt="Icon"
                />
                <p class="text-white font-bold">Australia</p>
            </div>
        </div>
    </header>

    <!-- INICIO CODIGO SECCION SUBMENU HOSTING-->

    <section class="hidden lg:block">
        <SubmenuHostingReseller />
    </section>

        <!-- INICIO CODIGO SECCION PLANES HOSTING-->

    <section class="contenedor mx-auto my-20 px-5">
        <h2 class="text-center text-4xl md:text-5xl">Planes de hosting <br /> para revendedores</h2>
        <p class="text-center">
            Utilizamos infraestructura de Amazon Web Server, Google Cloud,
            Digital Ocean, Linode.
        </p>

        <section class="contenedor mx-auto grid grid-cols-4 gap-2 mt-10">
            <section class="col-[1/-1] lg:col-[2/3]">
                <CardPlanesHostingReseller
                    plan="Go Reseller"
                    des1="20"
                    des2="20"
                    precio="$20"
                    opcion="Una gran manera de empezar"
                    link="https://clientes.servistream.net/index.php?rp=/store/reseller-hosting-cpanel/go-reseller"
                />
            </section>
    
            <section class="col-[1/-1] lg:col-[3/4]">
                <CardPlanesHostingReseller
                    plan="Unlimited Reseller"
                    des1="50"
                    des2="Ilimitado"
                    precio="$42"
                    opcion="Sin limites de espacio "
                    link="https://clientes.servistream.net/index.php?rp=/store/reseller-hosting-cpanel/unlimited-reseller"
                />
            </section>
        </section>
    </section>

        <!-- INICIO CODIGO SECCION GRAN OFERTA-->


    <section class="img__descuento contenedor mx-auto p-10 grid grid-cols-1 my-10 lg:grid-cols-2 md:p-20">
        <div>
            <p class="text-white mb-5">Gran Oferta por tiempo limitado
            </p>
            <h2 class="text-white mb-5">¡Use el código de descuento MESRESELLER
                para obtener un mes por $10.00!</h2>
                <p class="text-white">Cada cuenta de revendedor de hosting es completamente
                    de marca blanca y viene con almacenamiento SSD súper rápido,
                    ancho de banda ilimitado, correos electrónicos, SSL automáticos y migraciones</p>
            <div class="mt-10">
				<BotonDos href="https://clientes.servistream.net/index.php?rp=/store/reseller-hosting-cpanel/go-reseller" title="Comprar Ahora"/>
			</div>

        </div>

    </section>

        <!-- INICIO CODIGO SECCION DESCRIPCION-->


    <section class="grid grid-cols-1 contenedor mx-auto my-20 gap-10 px-5 md:grid-cols-2 lg:grid-cols-3">
        <DescripcionHosting src="/img/SolarVirusLinear.svg" title="Escaneo y eliminación de malware" content="Protegemos su sitio web de hackers y otros programas maliciosos escaneándolo diariamente" />
        <DescripcionHosting src="/img/SolarCloudUploadOutline.svg" title="Centro de datos" content="Nuestros servidores premium y de baja densidad están ubicados en todo el mundo, para impulsar el rendimiento de su negocio" />
        <DescripcionHosting src="/img/SolarSquareTransferHorizontalOutline.svg" title="Migraciones fáciles" content="Si ya utiliza WHM o cPanel con su host actual, podemos migrar fácilmente las copias de seguridad de cPanel a su nueva cuenta de revendedor" />
        <DescripcionHosting src="/img/SolarSoundwaveSquareOutline.svg" title="Web Host Manager" content="Administre cuentas de clientes, sitios web ilimitados, correos electrónicos y mucho más sin ninguna carga" />
        <DescripcionHosting src="/img/SolarWidgetOutline.svg" title="Etiquetado blanca" content="La etiqueta 100% blanca con todos los planes fortalece su marca y la ayuda a crecer a nivel mundial" />
        <DescripcionHosting src="/img/SolarPlain3Outline.svg" title="Instalador de 1 clic" content="Cada cuenta que cree en su espacio de alojamiento de revendedor obtiene Softcaluous que puede instalar WordPress, Joomla y más" />
        <DescripcionHosting src="/img/SolarScreencast2Outline.svg" title="cPanel / WHM" content="Dé acceso a cPanel a sus clientes para que puedan administrar sus propios correos electrónicos, dominios y sitios web desde una interfaz basada en la web" />
        <DescripcionHosting src="/img/SolarServerPathOutline.svg" title="Almacenamiento 100% SSD" content="Los sitios web que se almacenan en servidores 100% SSD experimentan velocidades de página más rápidas" />
        <DescripcionHosting src="/img/SolarSettingsLinear.svg" title="Licencia WHMCS" content="Una poderosa herramienta automatizada, WHMCS es una solución de gestión de clientes, facturación y soporte todo en uno para sus negocios en línea" />
    </section>

        <!-- INICIO CODIGO SECCION PREGUNTAS FRECUENTES-->

        <div class="contenedor__preguntas mx-auto my-20">
            <Acordion/>
        </div>
    

    <!-- INICIO CODIGO SECCION FOOTER-->
    <Footer />
</Layout>

<style lang="scss">

.contenedor__preguntas{
        max-width: 900px;
    }
    
    .contenedor__lgo__server {
        max-width: 900px;
    }

    header {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #181414;

        background: linear-gradient(300deg, #9d1cc5, #373fd1, #199b92, #0c061b);
        background-size: 240% 240%;
        animation: gradient-animation 24s ease infinite;
    }

    @keyframes gradient-animation {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .bak__barra {
        background-color: #22b5734d;
        width: 15rem;
        border-radius: 0.5rem;
        padding: 0 0.5rem;
        margin-bottom: 2rem;
    }

    .border__cuadro {
        border: 0.1px solid #ffffff44;
    }

    .img__descuento{
        background-image: url(../img/hosting-reseller.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 1rem;
    }

    .contenedor__hosting__preguntas {
        max-width: 1000px;

    }

    /*
    CSS SECCION PLANES HOSTING
    */
</style>

<script
    src="https://unpkg.com/@material-tailwind/html@latest/scripts/collapse.js"
></script>
