---
import Layout from "../layouts/Layout.astro";
import Top from "../components/Top.astro";
import Menu from "../components/Menu.astro";
import MobileMenu from "../components/MobilMenu.astro";
import SubmenuHosting from "../components/hosting_cloud/SubmenuHostingCloud.astro";
import Footer from "../components/Footer.astro";
import CardHostingLinux from "../components/hosting_linux/cardheader.astro";
import PlanesHostingCloud from "../components/hosting_cloud/PlanesHostingCloud.astro";
import LogosScrollHosting from "../components/hosting_linux/LogosScrollHosting.astro";
import DescriptionCpanel from "../components/hosting_linux/cardDescripcionCpanel.astro";

import BotonUno from "../components/BotonUno.astro";
import BotonDos from "../components/BotonDos.astro";


---

<Layout title="Hosting Internet Services | Hosting Cloud">

    <!-- INICIA CODIGO SECCION HEADER-->

    <header class="h-auto">
        <Top />
        <div class="hidden lg:block">
            <Menu />
        </div>
        <div class="pt-4 lg:hidden"><MobileMenu /></div>

        <div class="contenedor mx-auto grid grid-cols-1 pt-10 pb-20 lg:grid-cols-2 px-5">
            <div>
                <section>
                    <p class="text-white hidden text-center bak__barra sm:block">
                        A partir de <strong>$4.99</strong> USD/mes
                    </p>
                    <h1 class="text-white text-4xl font-bold pb-5 lg:text-6xl">
                        Web Hosting Cloud
                    </h1>
                    <p class="text-white text-lg">
                        Nuestro servicio compartido ofrece una plataforma
                        potente y comprobada eso es perfecto para alojar sus
                        sitios web
                    </p>
                    <section class="contenedor mx-auto mb-5">
                        <div class="grid grid-cols-2 lg:grid-cols-4">
                            <CardHostingLinux
                                src="/img/SolarSpedometerMaxBroken.svg"
                                content="Velocidad Extrema"
                            />
                            <CardHostingLinux
                                src="/img/SolarDevicesBroken.svg"
                                content="Potentes Herramientas"
                            />
                            <CardHostingLinux
                                src="/img/SolarCircleBottomUpBroken.svg"
                                content="Migración de Sitios"
                            />
                            <CardHostingLinux
                                src="/img/SolarSmileCircleBroken.svg"
                                content="Soporte Experto"
                            />
                        </div>
                    </section>
                    <div class="mt-10 flex flex-col md:flex-row">
						<div>
						<BotonUno href="/hosting-cloud/" title="Comenzar ahora"/>
						</div>
						<div>
						<BotonDos href="/paginas-web/" title="Más que un sitio web"/>
						</div>
					</div>

                </section>
            </div>
            <div></div>
        </div>
    </header>

    <!-- INICIO CODIGO SECCION SUBMENU HOSTING-->

    <section class="hidden lg:block">
        <SubmenuHosting />
    </section>

    <!-- INICIO CODIGO SECCION DESCRIPCION -->

    <section class="mt-20 mb-20 contenedor mx-auto px-5">
        <h2 class="text-center">Porque Hosting Cloud es superior</h2>
        <h5 class="text-center">
            Póngase en marcha rápidamente con un servidor totalmente <br />
             optimizado respaldado por el Soporte técnico prioritario
        </h5>

        <div class="grid grid-cols-1 text-center mt-10 gap-20 md:grid-cols-2 lg:grid-cols-3">
            <div>
                <h3 class="text-lg font-semibold pb-2">Migración Asistida</h3>
                <p>
                    Podemos ayudarle a usted y a sus clientes a transferir su
                    sitio web desde su proveedor de hosting antiguo a nuestros
                    servidores de forma gratuita
                </p>
            </div>
            <div>
                <h3 class="text-lg font-semibold pb-2">Asistente en vivo</h3>
                <p>
                    Todos los clientes de alojamiento web obtienen soporte
                    técnico durante todo el día a través de una variedad de
                    canales de soporte. Además conexión directa a través de
                    whatsapp
                </p>
            </div>
            <div>
                <h3 class="text-lg font-semibold pb-2">Instalador de 1 clic</h3>
                <p>
                    Esta herramienta podría ayudar a los principiantes su nuevo
                    sitio personal o de pequeña empresa con un clic del ratón.
                    Dispone de un asistente de instalación rápida
                </p>
            </div>
        </div>
    </section>

    <!-- INICIO CODIGO SECCION PLANES -->

    <section>
        <aside class="grid grid-cols-1 mx-auto contenedor__hosting__precios md:grid-cols-2 lg:grid-cols-3">
            <PlanesHostingCloud
                title="Starter"
                descuento="Descuento por más de 2 años"
                precio="$4.99"
                link="https://panel.servistream.net/order/product?pid=93e8d569-d072-4518-696c-d4e853121607"
                des1="100 GB"
                des3="1"
                des6="10"
                des7="10"
                des8="100"
                des9="5"
            />
            <PlanesHostingCloud
                title="Business"
                descuento="Descuento por más de 2 años"
                precio="$6.99"
                link="https://panel.servistream.net/order/product?pid=5983e230-6e75-4013-091a-14981d210d76"
                des1="200 GB"
                des3="10"
                des6="20"
                des7="20"
                des8="500"
                des9="20"
            />
            <PlanesHostingCloud
                title="Corporate"
                descuento="Descuento por más de 2 años"
                precio="$8.25"
                link="https://panel.servistream.net/order/product?pid=7831d635-0d82-497d-053c-849e176259e0"
                des1="Ilimitado GB"
                des3="20"
                des6="30"
                des7="30"
                des8="1000"
                des9="30"
            />
        </aside>
    </section>

        <!-- INICIO CODIGO SECCION LOGOS CLIENTES SCROLL HOSTING-->

        <article class="bg-white py-20 mt-20">
            <section class="contenedor mx-auto ">
                <h3 class="text-center font-semibold uppercase tracking-[.1rem] underline pb-5">
                    Clientes Destacados
                </h3>
                <LogosScrollHosting />
            </section>
        </article>

            <!-- INICIO CODIGO SECCION LITESPEED-->

        <section class="bg-[#1e1b3d] py-20 px-5">
            <div class="contenedor mx-auto">
                <h2 class="text-white mb-2">LiteSpeed + Discos SSD = 16x sitios web más rápidos</h2>
                <p class="text-white">Todos nuestros paquetes de alojamiento utilizan LiteSpeed, un almacenamiento en caché de memoria ultrarrápido para acelerar incluso el sitio web más ocupado sin necesidad de cambios de código. Combine esto con nuestros discos 100% SSD para archivos y MySQL, experimentará un rendimiento superior para su sitio web.</p>
            </div>
            
        </section>

            <!-- INICIO CODIGO SECCION TARJETAS FUNCIONES CPANEL-->

    <section class="contenedor mx-auto pb-20 px-5 my-20">
        <h2 class="text-center">Funciones cPanel</h2>
        <h5 class="text-center mb-20">
            Creamos la mejor plataforma de alojamiento web cPanel posible. Hemos
            incluido todo <br /> lo que necesita para ejecutar su sitio web y
            sus correos electrónicos.
        </h5>
        <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
            <DescriptionCpanel
                title="WordPress"
                content="Seleccione WordPress u otras 300 aplicaciones para instalar con un solo clic. Nos asociamos con Softaculous para ofrecer siempre las últimas versiones"
            />
            <DescriptionCpanel
                title="Cloudlinux"
                content="El sistema operativo líder para alojamiento web seguro y confiable. Ayuda a proteger su sitio de otros sitios web dañados"
            />
            <DescriptionCpanel
                title="Basado en la nube"
                content="Nuestra infraestructura subyacente siempre se actualiza, por lo que nunca se quedará atascado en el hardware heredado ni sufrirá debido a un disco defectuoso"
            />
            <DescriptionCpanel
                title="Escalable"
                content="Actualice o baje de categoría en cualquier momento, moviéndose entre paquetes, proveedores e incluso alrededor del mundo con solo unos pocos clics"
            />
            <DescriptionCpanel
                title="Hardware"
                content="Debido a que lo hospedamos en la nube, siempre tendrá el hardware más reciente. Sin discos defectuosos ni rendimiento deficiente"
            />
            <DescriptionCpanel
                title="Imunify360"
                content="La protección contra malware Imunify360 se incluye de serie en todos los sistemas. Esto busca malware y puede repararse automáticamente"
            />

            <DescriptionCpanel
                title="Cortafuegos"
                content="Protéjase contra ataques y usuarios malintencionados con nuestro firewall de seguridad avanzado"
            />

            <DescriptionCpanel
                title="Kernel"
                content="La seguridad del servidor comienza con el kernel. Parchamos automáticamente y no tenemos sistemas antiguos 'heredados'"
            />
            <DescriptionCpanel
                title="Spam"
                content="Ejecutamos sistemas avanzados de escaneo de spam tanto en el correo entrante como saliente, evitando que entre spam, pero también protegiendo su reputación de correo"
            />
            <DescriptionCpanel
                title="Bases de datos"
                content="Proporcionamos MariaDB/MySQL como estándar con todos los planes. No hay límite para la cantidad de bases de datos que puede crear"
            />
            <DescriptionCpanel
                title="Gestionado"
                content="Todo lo que ofrecemos requiere cero experiencia técnica. Nuestro brillante equipo de sistemas gestiona todo"
            />
            <DescriptionCpanel
                title="Correos"
                content="Acceda a sus correos electrónicos mientras viaja utilizando nuestro cliente de correo web incorporado. Permitir que el personal tenga su propio acceso directo"
            />
        </div>
    </section>



    <!-- INICIO CODIGO SECCION FOOTER-->
    <Footer />
</Layout>

<style lang="scss">
    header {
        background-image: url(../img/back7.avif);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .bak__barra {
            background-color: #22b5734d;
            width: 15rem;
            border-radius: 0.5rem;
            padding: 0 0.5rem;
            margin-bottom: 2rem;
        }
    }

    /*
    CSS SECCION PLANES HOSTING
    */

    .contenedor__hosting__precios {
        max-width: 1000px;
        background: linear-gradient(97.03deg, #edf4ff -0.58%, #deedff 92.09%);
        border-radius: 1rem;
    }
</style>
