---
import Layout from "../layouts/Layout.astro";
import Top from "../components/Top.astro";
import Menu from "../components/Menu.astro";
import MobileMenu from "../components/MobilMenu.astro";
import FooterOscuro from "../components/FooterOscuro.astro";
import LogosScrollHosting from "../components/hosting_linux/LogosScrollHosting.astro";
import CardDescripCentovaDos from "../components/centovacast/CardDescripCentovaDos.astro";
import CardTvStreaming from "../components/tv_streaming/CardTvStreaming.astro";
import CardPrecioTvStreaming from "../components/tv_streaming/CardPrecioTvStreaming.astro";
import PlayerTv from "../components/tv_streaming/PlayerTv.astro";

---

<Layout title="Hosting Internet Services | Tv Streaming">
    <!-- INICIA CODIGO SECCION HEADER-->

    <main>
        <header class="css-selector">
            <Top />
            <div class="hidden lg:block">
                <Menu />
            </div>
            <div class="pt-4 lg:hidden"><MobileMenu /></div>

            <div
                class="contenedor mx-auto text-center items-center py-10 px-5"
            >
                <h1
                    class="text-white text-3xl font-light pb-5 tracking-tighter md:text-5xl lg:text-6xl"
                >
                    <span class="text-is-gradient font-bold">Video Live Streaming</span>
                </h1>

                <p class="text-white mb-10">
                    Su señal contará con la mejor calidad de streaming en Internet y con las mejores <br> condiciones, una plataforma tecnológica segura, robusta y fiable
                </p>

                <div class="contenedor-tv-player mx-auto">
                    <PlayerTv/>
                </div>


                </div>

                <section class="flex flex-col items-center">

                    <div>
                        <p class="text-white bg-morado inline-block py-1 px-4 rounded-md mt-10 text-sm font-semibold">Proporcionado por VDO, Panel de control de transmisión de video líder en la industria
                        </p>
                    </div>
    
                    <div class="flex flex-col  items-center mt-10 md:flex-row textos">
                        <a
                            href="https://panel.servistream.net/order/product?pid=052d137e-08d2-419d-06df-3495163789e6"
                            class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-blue-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 mb-5 md:mb-0"
                        >
                            <span
                                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0"
                            >
                                Comprar Streaming Ahora
                            </span>
                        </a>
                        <a href="#ver_precios" class="text-sm font-medium text-white ml-5"
                            >Comparar Precios <i class="fa-solid fa-arrow-down-long"
                            ></i></a
                        >
                    </div>

                </section>



                <!-- INICIO CODIGO SECCION LOGOS CLIENTES SCROLL HOSTING-->

                <article class="py-10">
                    <section class="contenedor mx-auto hidden lg:block">
                        <LogosScrollHosting />
                    </section>
                </article>
            </div>
        </header>






        <section class="grid grid-cols-1 contenedor mx-auto gap-5 px-5 md:grid-cols-2 lg:grid-cols-3">
            <CardTvStreaming img="/img/SolarAirbudsCaseMinimalisticOutline.svg" title="Marca" content="Le permite cargar/agregar su propio logotipo y el nombre de su empresa a su transmisión"/>
            <CardTvStreaming img="/img/SolarCardTransferLinear_2.svg" title="Retransmitir" content="Transmisión simultánea al programador de redes sociales: retransmisión automática a las redes sociales según el programa"/>
            <CardTvStreaming img="/img/SolarHelpOutline_2.svg" title="Soporte" content="Contamos con expertos que trabajan las 24 horas administrando sus transmisiones, su red y su hardware"/>
        </section>


         <!-- INICIO CODIGO SECCION SELLECION-->

         <div id="ver_precios" class="my-20 contenedor mx-auto px-5 hidden md:block">
            <h2 class="text-white text-3xl text-center md:text-4xl lg:text-5xl">
                Transmisión de video administrada
            </h2>
            <p class="text-white text-center">Servicio de alojamiento de transmisión de video administrado con automatización de canales de TV, <br>
                programador avanzado de listas de reproducción y grabación para transmisión en vivo.</p>
         </div>

         <!-- INICIO CODIGO SECCION PRECIO-->


        <section class="contenedor__precios mx-auto grid grid-cols-1 pb-20 gap-10 md:grid-cols-2 lg:grid-cols-3">

          <div class="p-5">
            <p class="text-4xl text-white font-semibold">Nuestros planes y precios asequibles</p>
            <p class="text-white mt-2">Seleccione un plan adecuado para su alojamiento y transmisión de video profesional</p>
            </div>  

         <CardPrecioTvStreaming plan="Live Streaming Small" descrip="Transmisión solo en vivo" precio="20" configuracion="Activación en unas horas" des1="99" des2="Transferencia" des4="Sin Panel" link="https://panel.servistream.net/order/product?pid=052d137e-08d2-419d-06df-3495163789e6"/>
         <CardPrecioTvStreaming plan="Live Streaming Profesional" descrip="Transmisión solo en vivo" precio="30" configuracion="Activación en unas horas" des1="499" des2="Transferencia" des4="Sin Panel" link="https://panel.servistream.net/order/product?pid=61e50989-73d2-472e-570f-345e610832d7"/>
         <CardPrecioTvStreaming plan="Cloud Streaming Basic" descrip="Transmisión en vivo y con AutoDj" precio="30" configuracion="Activación en unas horas" des1="99" des2="Transferencia" des3="160 GB disco SSL" des4="Panel VDO" link="https://panel.servistream.net/order/product?pid=1e96d298-537d-4e58-733c-54e120637085"/>
         <CardPrecioTvStreaming plan="Cloud Streaming Medium" descrip="Transmisión en vivo y con AutoDj" precio="40" configuracion="Activación en unas horas" des1="299" des2="Transferencia" des3="240 GB disco SSL" des4="Panel VDO" link="https://panel.servistream.net/order/product?pid=80d1639e-237d-4350-522a-64610589e572"/>
         <CardPrecioTvStreaming plan="Cloud Streaming Large" descrip="Transmisión en vivo y con AutoDj" precio="75" configuracion="Activación en unas horas" des1="499" des2="Transferencia" des3="320 GB disco SSL" des4="Panel VDO" link="https://panel.servistream.net/order/product?pid=0381d780-e72d-4d69-631c-7413569926e5"/>

        </section>


         <!-- INICIO CODIGO SECCION PLAYER RADIO-->


         <div class="player-tv">
            <div class="contenedor-tv-player mx-auto">
                <iframe src="https://playerhd.eu/tv/servistream/" width="100%" height="505px" frameborder="0" scrolling="auto" allowfullscreen style="position:relative; margin:0; padding:0; top:0; left: 0;width: 100%; height: 505px;"></iframe>
            </div>
    
        </div>


        <!-- INICIO CODIGO SECCION DESCRIPCION DOS-->

        <section class="grid grid-cols-1 contenedor mx-auto py-20 gap-3 md:grid-cols-2 lg:grid-cols-4">
            <CardDescripCentovaDos title="Sin Restricciones" content="Podrá alternar la transmisión entre las cámaras que tenga instaladas, videos alojados en su computadora o imágenes" />
            <CardDescripCentovaDos title="Compatible" content="Cada cliente que posee nuestros servicios puede visualizar sus transmisiones a través de diferentes dispositivos" />
            <CardDescripCentovaDos title="Adaptive bitrate" content="Sistema que permite optimizar su señal de Streaming en diferentes calidades: 1080p, 720p y 480p" />
            <CardDescripCentovaDos title="Software" content="Nuestros servidores son compatibles con toda clase de encoders del mercado" />
        </section>

            <!-- INICIO CODIGO SECCION FOOTER-->
    <FooterOscuro />


    </main>


</Layout>

<style lang="scss">
    .text-is-gradient {
        background-image: linear-gradient(
            to right,
            var(--gradient-text) 11%,
            var(--gradient-color-2)
        );
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    main {
        background-color: #0e141b;
    }

    .contenedor-tv-player {
        max-width: 900px;
    }

    .contenedor__precios {
        max-width: 1000px;
    }

    iframe{
        border-radius: 1rem;
    }

     .textos{
    font-family: "IBM Plex Mono", monospace;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 2px;
 }

    /*
    CSS SECCION PLANES HOSTING
    */
</style>
