<div class="max-w-screen-xl mx-auto px-5 min-h-sceen">
	<div class="flex flex-col items-center">
		<h2 class="font-bold text-5xl mt-5 tracking-tight">
			Preguntas Frecuentes
		</h2>
		<p class="text-neutral-500 text-xl mt-3">
			Lo que dicen los clientes
		</p>
	</div>
	<div class="grid divide-y divide-neutral-200 max-w-xl mx-auto mt-8">
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span> ¿Qué es Hosting?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                    Vamos a desglosarlo. Lo básico: quieres un sitio web. Tiene grandes ideas para el contenido, un tablero con la descripción completa de tu visión, el tono con el que se comunicará, e incluso una lista de las funciones adicionales que deseas para tu sitio web. Pero, ¿cómo publicas exactamente tu sitio en línea? Ahí es donde entra el alojamiento. Tu sitio web necesita un proveedor de alojamiento para tenerlo en la web y disponible públicamente para ser visitado. Los alojadores web son empresas que proporcionan el espacio de servidor necesario para almacenar tu sitio web. A medida que el tráfico web intenta acceder a tu sitio, los datos necesarios se transmiten desde el servidor al dispositivo de los visitantes. Sin embargo, los proveedores de alojamiento web difieren en la variedad de tipos de planes y opciones que ofrecen. Por lo tanto, tener un proveedor de alojamiento web de calidad es crucial. 
				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span>¿Cuántos sitios puedo alojar?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					¿Estás comenzando? Con un Plan Deluxe, puedes alojar un sitio web ¡Un excelente lugar para comenzar! Si buscas administrar varios sitios, el plan Unlimited te permite alojar sitios web ilimitados. Cuál sea la flexibilidad que necesites, servistream la tiene. 
				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span>¿El web hosting incluye correo electrónico?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					Sea que estés construyendo tu negocio o tu marca (o ambas), quieres empezar con el pie derecho. Un correo exclusivo relacionado con tu dominio puede brindarte un look profesional mientras trabajas para hacer crecer tu negocio. 
				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span>¿Cuál es la diferencia entre el nombre de un dominio y el web hosting?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					Un nombre de dominio es la dirección única .com (o cualquier otra extensión) donde se puede encontrar tu sitio en la web. Pero para que tu sitio web esté en línea, también necesitarás un proveedor de alojamiento web para proporcionar el espacio de servidor necesario de almacenamiento para tu sitio. Para un sitio completamente funcional, necesitas un nombre de dominio y un buen proveedor de alojamiento web. Para simplificar las cosas, puedes mantener tus necesidades internas, permitiendo que un proveedor suministre tanto el nombre de dominio y hosting web. 
				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span>¿Puedo actualizar a un plan más poderoso después?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
                    ¡Claro que sí! Sabemos que tu objetivo final es probablemente hacer crecer tu sitio web con el tiempo. ¡Queremos eso para ti! Cuando el tráfico de tu sitio alcanza niveles de hora pico, se desborda de contenido, o simplemente necesita más tecnología y características de alta potencia, puedes actualizar a un plan con campanas, silbatos y potencia de rendimiento adicionales. Si bien el Plan Deluxe es una opción inteligente y económica cuando se es un principiante, un sitio rico en contenido y con mucho tráfico puede exigir un plan a mayor capacidad, lo que significa espacio de servidor adicional, recursos especialmente dedicados, seguridad avanzada y aceleración en velocidades. 
				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span>¿Incluyen certificados de seguridad SSL?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					Nos preocupamos mucho por la seguridad - y también lo hacen los visitantes de tu sitio web. Con una cuenta de Plan Deluxe, obtienes un certificado SSL gratis para agregar a tu sitio. En estos días, tener un SSL para tu sitio es una buena práctica casi obvia. No solo un SSL ayuda a tus visitantes a sentirse seguros interactuando con tu sitio - también es particularmente importante si administras un sitio de comercio electrónico - y evitará penalizaciones de los motores de búsqueda, que te pueden afectar fácilmente si no tienes uno. Ningún sitio web quiere una etiqueta de "inseguro" o "insegura" que dañe su reputación. Si bien un certificado SSL no es una defensa infalible contra los chicos malos de Internet, es sin duda un gran primer paso en la dirección correcta para poner a los visitantes de tu sitio seguros. 
				</p>
			</details>
		</div>
		<div class="py-5">
			<details class="group">
				<summary class="flex justify-between items-center font-medium cursor-pointer list-none">
					<span>¿Qué pasa si tengo un dominio en otra empresa, lo puedo transferir?</span>
					<span class="transition group-open:rotate-180">
                <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path>
</svg>
              </span>
				</summary>
				<p class="text-neutral-600 mt-3 group-open:animate-fadeIn">
					¡Sí! Olvídate de empacar cajas virtuales o preocuparte por una dirección de reenvío: nos encargaremos de las tareas de transferencia y haremos que moverse a servistream sea F-Á-C-I-L. Al transferir tu registro de dominio de tu antiguo proveedor a servistream, puedes administrar fácilmente todos los aspectos de tu dominio desde una ubicación conveniente. 
				</p>
			</details
	</div>
</div>

<script>
	// ...
	// extend: {
    //   keyframes: {
    //     fadeIn: {
    //       "0%": { opacity: 0 },
    //       "100%": { opacity: 100 },
    //     },
    //   },
    //   animation: {
    //     fadeIn: "fadeIn 0.2s ease-in-out forwards",
    //   },
    // },
    // ...
</script>