---
interface Props {
    href: string;
    title: string;
}

const { href, title } = Astro.props;
---

<a href={href} class="textos bg-transparent group transition ease-in-out text-black font-semibold inline-block hover:text-black py-2 px-8 border border-black hover:border-transparent rounded-lg" >
    <div class="flex items-center ">
        <p class=" font-semibold">{title}</p>
        <img class="h-4 w-4 ml-3 opacity-50 group-hover:opacity-100 transition ease-in-out group-hover:transform group-hover:translate-x-1" src="/img/SolarArrowRightBoldDuotoneblack.svg" alt="Icono">
    </div>
</a>


<style>
 .textos{
    font-family: "IBM Plex Mono", monospace;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 2px;
 }
</style>