<section class="footer py-20 px-5">

    <div class="contenedor mx-auto flex flex-col justify-between items-center lg:flex-row">
        <div class="logo__black">
            <a href="/"><img src="/img/LOGO-SERVISTREAM-NUEVO4.svg" alt="Logo" /></a>
            
        </div>
        <div class="flex items-center mt-7 lg:mt-0">
            <a class="pl-4" href="#">
                <img src="/img/StreamlineComputerLogoFacebook2MediaFacebookSocial.svg" width="20" height="20" alt="Facebook">
            </a>

            <a class="pl-4" href="#">
                <img src="/img/BiTwitterX.svg" width="20" height="20" alt="Twitter">
            </a>

            <a class="pl-4" href="#">
                <img src="/img/StreamlineTiktokSolid.svg" width="20" height="20" alt="Tiktok">
            </a>

            <a class="pl-4" href="#">
                <img src="/img/StreamlineInstagram.svg" width="20" height="20" alt="Instagram">
            </a>

            <a class="pl-4" href="#">
                <img src="/img/TeenyiconsGithubOutline.svg" width="20" height="20" alt="Github">
            </a>

            <a class="pl-4" href="#">
                <img src="/img/StreamlineWhatsapp.svg" width="20" height="20" alt="Whatsapp">
            </a>

            <a class="pl-4" href="#">
                <img src="/img/StreamlineComputerLogoYoutubeYoutubeClipSocialVideo.svg" width="20" height="20" alt="Youtube">
            </a>
 
        </div>
    </div>

    <div class="contenedor__menu__footer mx-auto pt-20 pb-20 grid grid-cols-2 auto-rows-auto md:grid-cols-3 lg:grid-cols-5">
        <li>
            <p class="font-bold text-white">Web Hosting</p>
            <ul>
                <a class="text-sm font-light text-white" href="/hosting-linux">Hosting Linux</a>
            </ul>
            <ul>
                <a class="text-sm font-light text-white" href="/hosting-linux">Hosting Cloud</a>
            </ul>
            <ul>
                <a class="text-sm font-light text-white" href="/hosting-linux">Hosting Reseller</a>
            </ul>
        </li>

        <li>
            <p class="font-bold text-white">VPS Hosting</p>
            <ul>
                <a class="text-sm font-light text-white" href="/hosting-linux">VPS Hosting Plesk</a>
            </ul>
            <ul>
                <a class="text-sm font-light text-white" href="/hosting-linux">VPS Hosting CyberPanel</a>
            </ul>

        </li>

        <li>
            <p class="font-bold text-white">Dominios</p>
            <ul>
                <a class="text-sm font-light text-white" href="/hosting-linux">Registrar</a>
            </ul>
            <ul>
                <a class="text-sm font-light text-white" href="/hosting-linux">Revisar Existencia</a>
            </ul>
        </li>

        <li>
            <p class="font-bold text-white">Radio Streaming</p>
            <ul>
                <a class="text-sm font-light text-white" href="/hosting-linux">CentovaCast</a>
            </ul>
            <ul>
                <a class="text-sm font-light text-white" href="/hosting-linux">SonicPanel</a>
            </ul>
            <ul>
                <a class="text-sm font-light text-white" href="/hosting-linux">Azuracast</a>
            </ul>
        </li>

        <li>
            <p class="font-bold text-white">Tv Streaming</p>
            <ul>
                <a class="text-sm font-light text-white" href="/hosting-linux">Streaming</a>
            </ul>
        </li>

        <li>
            <p class="font-bold text-white">Reseller Radio</p>
            <ul>
                <a class="text-sm font-light text-white" href="/hosting-linux">CentovaCast</a>
            </ul>
        </li>

        <li>
            <p class="font-bold text-white">Otros Servicios</p>
            <ul>
                <a class="text-sm font-light text-white" href="/hosting-linux">App Android</a>
            </ul>
            <ul>
                <a class="text-sm font-light text-white" href="/hosting-linux">Audio Record Mixer</a>
            </ul>
        </li>

        <li>
            <p class="font-bold text-white">Soporte</p>
            <ul>
                <a class="text-sm font-light text-white" href="/hosting-linux">WhatsApp</a>
            </ul>
            <ul>
                <a class="text-sm font-light text-white" href="/hosting-linux">Crear un Ticket</a>
            </ul>
        </li>
    </div>

    <div class="section__tres">

        <div class="contenedor mx-auto flex text-center flex-col justify-between items-center lg:flex-row">
            <div>
                <a class="text-sm font-light text-white" href="">Blog</a>
                <a class="text-sm font-light text-white" href="">Tutoriales</a>
                <a class="text-sm font-light text-white" href="">Preguntas Frecuentes</a>
                <a class="text-sm font-light text-white" href="">Términos y Condiciones</a>
            </div>

            <div>
                <p class="text-sm font-light mt-5 lg:mt-0 text-white">© 2014 – 2023. Todos los derechos reservados.</p>
            </div>


        </div>

    </div>

</section>


<style lang="scss">

    .footer{

        a:hover{
            text-decoration: underline;
        }

        li{
            margin-bottom: 2rem;

            p{
                margin-bottom: .8rem;
            }

            ul{
                margin-bottom: .3rem;
            }
        }

        .contenedor__menu__footer {
            max-width: 1000px;
        }

        .section__tres{
            a{
                margin-right: 1rem;
            }
        }
    }


</style>