<section
  class="text-white contenedor mx-auto px-4 py-6 flex items-center justify-between pl-4 pr-4"
>
  <a href="/"><img src="/img/LOGO-SERVISTREAM-NUEVO4.svg" alt="Logo" /></a>
  <nav>
    <ul class="flex items-center justify-center font-semibold">
      <li class="relative group px-3 py-2">
        <button class="hover:opacity-50 cursor-auto"
          >Hosting <i class="fa-solid fa-angle-down"></i></button
        >
        <div
          class="absolute top-2 -left-48 transition group-hover:translate-y-5 translate-y-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible duration-500 ease-in-out group-hover:transform z-50 min-w-[560px] transform"
        >
          <div class="relative top-6 p-6 bg-white rounded-xl shadow-xl w-full">
            <div
              class="w-10 h-10 bg-white transform rotate-45 absolute top-0 z-0 translate-x-0 transition-transform group-hover:translate-x-[12rem] duration-500 ease-in-out rounded-sm"
            >
            </div>

            <div class="relative z-10">
              <div class="grid grid-cols-2 gap-6">
                <div>
                  <p
                    class="uppercase tracking-wider text-gray-500 font-medium text-[13px]"
                  >
                    Hosting Poderoso
                  </p>
                  <ul class="mt-3 text-[15px]">
                    <li>
                      <a
                        href="/hosting-linux"
                        class="block p-2 -mx-2 rounded-lg hover:bg-gradient-to-br hover:from-indigo-50 hover:to-pink-50 hover:via-blue-50 transition ease-in-out duration-300 text-gray-800 font-semibold hover:text-indigo-600"
                      >
                        Hosting Linux
                        <p class="text-gray-500 font-normal">
                          Ofrecemos planes de alojamiento compartido para sus
                          sitios web
                        </p>
                      </a>
                    </li>
                    <li>
                      <a
                        href="/hosting-cloud"
                        class="block p-2 -mx-2 rounded-lg hover:bg-gradient-to-br hover:from-indigo-50 hover:to-pink-50 hover:via-blue-50 transition ease-in-out duration-300 text-gray-800 font-semibold hover:text-indigo-600"
                      >
                        Hosting Cloud
                        <p class="text-gray-500 font-normal">
                          Nuestro servicio compartido ofrece una plataforma
                          potente
                        </p>
                      </a>
                    </li>
                    <li>
                      <a
                        href="/hosting-reseller"
                        class="block p-2 -mx-2 rounded-lg hover:bg-gradient-to-br hover:from-indigo-50 hover:to-pink-50 hover:via-blue-50 transition ease-in-out duration-300 text-gray-800 font-semibold hover:text-indigo-600"
                      >
                        Hosting Reseller
                        <p class="text-gray-500 font-normal">
                          Administre múltiples cuentas de cPanel para sus propios clientes
                        </p>
                      </a>
                    </li>
                  </ul>
                </div>
                <div>
                  <p
                    class="uppercase tracking-wider text-gray-500 font-medium text-[13px]"
                  >
                    PLUGIN RECOMENDADOS
                  </p>
                  <ul class="mt-3 text-[15px]">
                    <li>
                      <a
                        href="https://elementor.com/" target="_blank"
                        class="block p-2 -mx-2 rounded-lg hover:bg-gradient-to-br hover:from-indigo-50 hover:to-pink-50 hover:via-blue-50 transition ease-in-out duration-300 text-gray-800 font-semibold hover:text-indigo-600"
                      >
                        Elementor Pro
                        <p class="text-gray-500 font-normal">
                          Crea sitios web a velocidades récord
                        </p>
                      </a>
                    </li>
                    <li>
                      <a
                        href="https://www.elegantthemes.com/gallery/divi/" target="_blank"
                        class="block p-2 -mx-2 rounded-lg hover:bg-gradient-to-br hover:from-indigo-50 hover:to-pink-50 hover:via-blue-50 transition ease-in-out duration-300 text-gray-800 font-semibold hover:text-indigo-600"
                      >
                      Divi Builder
                        <p class="text-gray-500 font-normal">
                          Con su sistema de arrastrar y soltar
                        </p>
                      </a>
                    </li>
                    <li>
                      <a
                        href="https://wpbakery.com/" target="_blank"
                        class="block p-2 -mx-2 rounded-lg hover:bg-gradient-to-br hover:from-indigo-50 hover:to-pink-50 hover:via-blue-50 transition ease-in-out duration-300 text-gray-800 font-semibold hover:text-indigo-600"
                      >
                      WPBakery
                        <p class="text-gray-500 font-normal">
                          Incluye todo tipo de elementos para maquetar
                        </p>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="relative group px-3 py-2">
        <button class="hover:opacity-50 cursor-auto"
          >Soluciones <i class="fa-solid fa-angle-down"></i></button
        >
        <div
          class="absolute top-2 -left-2 transition group-hover:translate-y-5 translate-y-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible duration-500 ease-in-out group-hover:transform z-50 min-w-[260px] transform"
        >
          <div class="relative top-6 p-6 bg-white rounded-xl shadow-xl w-full">
            <div
              class="w-10 h-10 bg-white transform rotate-45 absolute top-0 z-0 -translate-x-4 transition-transform group-hover:translate-x-3 duration-500 ease-in-out rounded-sm"
            >
            </div>
            <div class="relative z-10">
              <p
                class="uppercase tracking-wider text-gray-500 font-medium text-[13px]"
              >
                Realizamos
              </p>
              <ul class="mt-3 text-[15px]">
                <li>
                  <a
                    href="https://walink.co/4f797c"
                    class="bg-transparent bg-clip-text text-transparent bg-gradient-to-br from-indigo-400 to-pink-700 via-blue-500 font-semibold hover:from-blue-600 hover:to-indigo-600 hover:via-pink-400 py-1 block"
                  >
                    APP Radio
                  </a>
                </li>
                <li>
                  <a
                    href="https://walink.co/4f797c"
                    class="bg-transparent bg-clip-text text-transparent bg-gradient-to-br from-indigo-400 to-pink-700 via-blue-500 font-semibold hover:from-blue-600 hover:to-indigo-600 hover:via-pink-400 py-1 block"
                  >
                    APP Tv
                  </a>
                </li>
                <li>
                  <a
                    href="https://walink.co/4f797c"
                    class="bg-transparent bg-clip-text text-transparent bg-gradient-to-br from-indigo-400 to-pink-700 via-blue-500 font-semibold hover:from-blue-600 hover:to-indigo-600 hover:via-pink-400 py-1 block"
                  >
                  Audio Record Mixer
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li class="relative group px-3 py-2">
        <button class="hover:opacity-50 cursor-auto"
          >Streaming <i class="fa-solid fa-angle-down"></i></button
        >
        <div
          class="absolute top-2 -left-48 transition group-hover:translate-y-5 translate-y-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible duration-500 ease-in-out group-hover:transform z-50 min-w-[560px] transform"
        >
          <div class="relative top-6 p-6 bg-white rounded-xl shadow-xl w-full">
            <div
              class="w-10 h-10 bg-white transform rotate-45 absolute top-0 z-0 translate-x-0 transition-transform group-hover:translate-x-[12.65rem] duration-500 ease-in-out rounded-sm"
            >
            </div>

            <div class="relative z-10">

              <div class="grid grid-cols-2 gap-6">
                <div>
                  <p
                    class="uppercase tracking-wider text-gray-500 font-medium text-[13px]"
                  >
                    RADIO STREAMING
                  </p>
                  <ul class="mt-3 text-[15px]">
                    <li>
                      <a
                        href="/centovacast"
                        class="text-gray-600 hover:text-gray-800 py-1 block font-semibold"
                      >
                      CentovaCast
                      </a>
                    </li>
                    <li>
                      <a
                        href="/sonicpanel"
                        class="text-gray-600 hover:text-gray-800 py-1 block font-semibold"
                      >
                      SonicPanel
                      </a>
                    </li>
                    <li>
                      <a
                        href="#"
                        class="text-gray-600 hover:text-gray-800 py-1 block font-semibold"
                      >
                      Server Azuracast
                      </a>
                    </li>
                    <li>
                      <a
                        href="/reseller-radio"
                        class="text-gray-600 hover:text-gray-800 py-1 block font-semibold"
                      >
                      Reseller
                      </a>
                    </li>
                  </ul>
                </div>
                <div>
                  <p
                    class="uppercase tracking-wider text-gray-500 font-medium text-[13px]"
                  >
                   TV STREAMING
                  </p>
                  <ul class="mt-3 text-[15px]">
                    <li>
                      <a
                        href="/tv-streaming"
                        class="text-gray-600 hover:text-gray-800 py-1 block font-semibold"
                      >
                      Streaming HD
                      </a>
                    </li>
                  </ul>

                </div>
              </div>

              <a
              href="https://www.youtube.com/results?search_query=centovacast"
              class="block p-2 mt-5 rounded-lg hover:bg-gradient-to-br hover:from-indigo-50 hover:to-pink-50 transition ease-in-out duration-300 text-gray-800 font-semibold hover:text-indigo-600"
            >
              Guias y Tutoriales
              <p class="text-gray-500 font-normal">
                Todo para empezar tu radio
              </p>
            </a>

            </div>

          </div>
        </div>
      </li>
      <li class="relative group px-3 py-2">
        <a href="/paginas-web" class="hover:opacity-50 cursor-pointer">Páginas Web</a>
      </li>
      <li class="relative group px-3 py-2">
        <a href="/dominios" class="hover:opacity-50 cursor-pointer">Dominios</a>
      </li>
      <li class="relative group px-3 py-2">
        <a href="/contacto" class="hover:opacity-50 cursor-pointer">Contacto</a>
      </li>
    </ul>
  </nav>
  <nav class="hidden lg:block">
    <ul>
      <li>
        <a
          href="https://clientes.servistream.net/index.php?rp=/login"
          class="rounded-lg px-3 py-2 font-semibold bg-white bg-opacity-10 flex items-center group"
        >
          <span class="mr-2">INICIAR SESIÓN</span>
          <svg
            class="stroke-current"
            width="10"
            height="10"
            stroke-width="2"
            viewBox="0 0 10 10"
            aria-hidden="true"
          >
            <g fill-rule="evenodd">
              <path
                class="opacity-0 group-hover:opacity-100 transition ease-in-out duration-200"
                d="M0 5h7"></path>
              <path
                class="opacity-100 group-hover:transform group-hover:translate-x-1 transition ease-in-out duration-200"
                d="M1 1l4 4-4 4"></path>
            </g>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</section>
