<section class="pl-2 pr-2 hidden lg:block">
    <div class="flex contenedor mx-auto justify-between">
        <a href="https://clientes.servistream.net/index.php?rp=/store/web-hosting-linux/deluxe-plan" class="flex h-10 items-center">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-bookmarks-filled"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path
                    d="M12 6a4 4 0 0 1 4 4v11a1 1 0 0 1 -1.514 .857l-4.486 -2.691l-4.486 2.691a1 1 0 0 1 -1.508 -.743l-.006 -.114v-11a4 4 0 0 1 4 -4h4z"
                    stroke-width="0"
                    fill="currentColor"></path>
                <path
                    d="M16 2a4 4 0 0 1 4 4v11a1 1 0 0 1 -2 0v-11a2 2 0 0 0 -2 -2h-5a1 1 0 0 1 0 -2h5z"
                    stroke-width="0"
                    fill="currentColor"></path>
            </svg>
            <p class="text-white pl-3 pr-3">
                Oferta Flash de Hosting: Desde $2.30 USD/mes por tiempo limitado
            </p>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-arrow-narrow-right"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M5 12l14 0"></path>
                <path d="M15 16l4 -4"></path>
                <path d="M15 8l4 4"></path>
            </svg>
        </a>
        <nav class="flex items-center text-white">
            <a href="/preguntas-frecuentes" class="pl-3">Preguntas Frecuentes</a>
            <a href="/terminos" class="pl-3">Términos y Condiciones</a>
            <a href="/noticias" class="pl-3">Noticias</a>
            <a href="https://walink.co/4f797c" class="pl-3 flex items-center">
                <p class="pr-1 underline text-white">WhatsApp</p>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-heart"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    stroke-width="2"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path
                        d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
                    ></path>
                </svg>
            </a>
        </nav>
    </div>
</section>

<style>
    section {
        background-color: #1e1b3d;
        font-size: 0.9rem;
    }

    svg {
        color: #fff;
        width: 1.2rem;
    }

    a:hover {
        text-decoration: underline;
    }
    .icon-tabler-heart{
        color: #00ffff;
    }
</style>
