<div class="back__img z-10 relative">

    <div class="flex flex-col justify-between h-[35rem]">
        <div class="flex flex-col lg:flex-row md:items-center lg:items-center">
            <img src="/img/LOGO-SERVISTREAM-NUEVO4.svg" alt="Logo">
            <p class="color__primario text-2xl font-semibold pl-6">Radio Streaming Pro</p>
        </div>
        <h2 class="text-white text-4xl font-semibold md:text-5xl lg:text-6xl">Hemos aprendimos
            lo que es crucial
            en la transmisión en línea</h2>
    </div>

</div>

<style>

    .color__primario{
        color: var(--color-primario);
    }
    .back__img{
        background-image: url(/img/back__radio__inicio4.avif);
        background-position: center;
        background-size: cover;
        border-radius: 4rem;
        padding: 3rem;

    }
</style>