<section>
    <h2 class="mt-15">Hermosos temas de WordPress</h2>
    <h5>
        Cientos de diseños profesionales y responsivos para tu sitio web en <br/> 
        WordPress. Elegante, fluido y fácil de usar totalmente gratis.
    </h5>

    <div class="grid grid-cols-1 grid-rows-2 gap-5 mt-10 md:grid-cols-2 lg:grid-cols-3 ">
        <img class="hover:scale-105 transition-all hover:contrast-125 hover:shadow-2xl rounded-3xl object-cover" src="/img/pag1.avif" alt="Tema">
        <img class="hover:scale-105 transition-all hover:contrast-125 hover:shadow-2xl rounded-3xl object-cover" src="/img/pag2.avif" alt="Tema">
        <img class="hover:scale-105 transition-all hover:contrast-125 hover:shadow-2xl rounded-3xl object-cover" src="/img/pag3.avif" alt="Tema">
        <img class="hover:scale-105 transition-all hover:contrast-125 hover:shadow-2xl rounded-3xl object-cover" src="/img/pag4.avif" alt="Tema">
        <img class="hover:scale-105 transition-all hover:contrast-125 hover:shadow-2xl rounded-3xl object-cover" src="/img/pag5.avif" alt="Tema">
        <img class="hover:scale-105 transition-all hover:contrast-125 hover:shadow-2xl rounded-3xl object-cover" src="/img/pag6.avif" alt="Tema">

    </div>

</section>

